<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-8 mx-auto mt-5 mb-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Search Professionals having Skills you are looking for </h3>
        </div>
      </div>
    </div>
  </div>
</div>
